<!-- Home
  ================================================== -->
<section>
    <div class="page-header">
        <h4>All important details should not be forgotten never</h4>
    </div>

    <article>
        <h3>Repositories<span class="pull-right"><strong>22/05/2013</strong></span></h3>
        <div class="well">
            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            <hr>
            <div class="row">
                <div class="span2">
                    <a class="btn btn-small btn-primary" href="#/minutes-show"><i class="icon-external-link-sign icon-white"></i>Read more...</a>
                </div>
                <div class="pull-right">
                    <span class="badge badge-info"><i class="icon-user"></i> 5 Attendants</span>
                </div>
            </div>
        </div>
    </article>

    <article>
        <h3>Services<span class="pull-right"><strong>12/05/2013</strong></span></h3>
        <div class="well">
            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            <hr>
            <div class="row">
                <div class="span3">
                    <a class="btn btn-small btn-primary" href="#/minutes-show"><i class="icon-external-link-sign icon-white"></i>Read more...</a>
                </div>
                <div class="pull-right">
                    <span class="badge badge-info"><i class="icon-user"></i> 8 Attendants</span>
                </div>
            </div>
        </div>
    </article>
</section>
