<!-- Show
  ================================================== -->
<section>
    <h3>Repositories<span class="pull-right"><strong>22/05/2013</strong></span></h3>
    <div class="well">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at laoreet eros. Donec interdum, sem a volutpat pharetra, magna dui viverra turpis, eu placerat ligula tortor vitae orci. Nullam eget dolor id lectus placerat euismod at eget magna. Curabitur imperdiet magna ut purus eleifend iaculis. Aenean ornare facilisis quam, vel luctus ante interdum nec. Curabitur quis turpis dictum, tincidunt neque sit amet, dictum nulla. Donec rhoncus augue dolor, non rhoncus purus molestie eu.
        </p>
        <p>
            Quisque suscipit consectetur porttitor. Duis venenatis, nisl a lobortis dignissim, risus lorem sollicitudin sapien, ac commodo nibh odio non neque. Vivamus placerat imperdiet consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vitae diam rhoncus, ornare nibh at, euismod massa. Integer sagittis lacus eget felis vestibulum, at adipiscing massa rhoncus. Donec sagittis tincidunt placerat. Phasellus risus magna, dapibus in vestibulum eu, sodales eget mauris.
        </p>
        <p>
            Nulla fringilla nec lacus eget rutrum. Integer lacinia mi eget tincidunt accumsan. Fusce gravida sed mauris eget tempor. Quisque dapibus turpis ac fringilla viverra. Morbi eu porttitor magna. Nullam volutpat faucibus nibh sit amet sodales. Aenean molestie, est nec pretium scelerisque, elit felis pulvinar purus, ac adipiscing metus lectus nec diam. Nullam tempus arcu sit amet adipiscing lacinia. Vivamus pellentesque mollis odio eget feugiat. Proin sollicitudin fringilla erat vitae tempus. Nam in sollicitudin elit, nec euismod tortor.
        </p>
        <p>
            Phasellus pharetra pellentesque scelerisque. Phasellus varius posuere orci, id viverra mi euismod eu. Sed condimentum, libero in interdum interdum, lectus lectus tincidunt nisl, et placerat ante lorem dapibus lectus. Nulla eget lacus erat. Aliquam eget est vel purus eleifend fermentum sit amet in velit. Vestibulum scelerisque dui nec sollicitudin varius. Sed sodales mauris sit amet mi mollis, at volutpat nisl viverra. Etiam sagittis elit ut nibh hendrerit interdum. Nullam magna orci, tincidunt ac nisi ut, auctor rutrum quam. Sed id dolor ligula. Morbi porta ultrices dui at molestie. Mauris nulla orci, hendrerit eget porta vitae, accumsan vel sapien. Mauris eleifend libero ut tortor placerat ultricies. Etiam cursus, odio eget aliquet auctor, mauris enim sagittis elit, sit amet hendrerit odio est id metus. Donec ac nisi tellus. Curabitur molestie, sem ac venenatis imperdiet, justo ante rutrum purus, quis tincidunt arcu nunc sed risus.
        </p>
        <p>
            Cras rhoncus tellus a tortor aliquam, eu malesuada neque sodales. Nullam ullamcorper, mi id rhoncus viverra, lectus lacus vestibulum neque, vitae congue nisl augue nec felis. Vestibulum scelerisque tristique orci, non ultrices ante tristique aliquam. Aliquam elementum felis ut lectus congue ultrices. Suspendisse fringilla dui lorem, ut pellentesque enim vulputate id. Donec a leo vitae tellus lacinia vehicula. Mauris aliquet neque at lectus ullamcorper euismod. Morbi dictum nunc blandit fermentum fringilla. Mauris venenatis vitae quam a mattis. Sed sit amet feugiat lorem. Donec sem ipsum, accumsan sit amet elementum vitae, egestas vitae lacus. Aliquam auctor velit ac arcu rutrum, vel ullamcorper est pellentesque.
        </p>
        <hr>
        <span class="badge badge-info"><i class="icon-user"></i>5 Attendants</span>
        <ul>
            <li>Alex</li>
            <li>Daniel</li>
            <li>Danillo</li>
            <li>Guilherme</li>
            <li>Max</li>
        </ul>
    </div>
    <div class="row">
        <div class="span3">
            <a class="btn btn-small btn-primary" href="#/minutes-form"><i class="icon-pencil icon-white"></i>Edit Agenda</a>
            <a class="btn btn-small btn-inverse" href="#/"><i class="icon-external-link-sign icon-white"></i>Back</a>
        </div>
    </div>
</section>
