<!-- Forms
  ================================================== -->
<section id="forms" data-bind="with: minute">
    <div class="row">
        <div class="span10 offset1">
            <form class="form-horizontal well">
                <fieldset>
                    <legend>Agenda Form</legend>
                    <div class="control-group">
                        <label class="control-label" for="input01">Subject</label>
                        <div class="controls">
                            <input type="text" class="input-xxlarge" id="input01" data-bind="value: subject">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="textarea">Descripton</label>
                        <div class="controls">
                            <textarea class="input-xxlarge" id="textarea" rows="3" data-bind="value: notes"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="date">Date</label>
                        <div class="controls">
                            <input type="text" class="input" id="date" data-bind="value: date">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="multiSelect">Attendees</label>
                        <div class="controls" data-bind="foreach: $root.attendees">
                            <input type="checkbox" data-bind="checked: selected">
                            <span data-bind="text: name"></span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-small btn-primary" data-bind="click: $root.save"><i class="icon-save icon-white"></i>Save changes</button>
                        <button type="reset" class="btn btn-small" data-bind="click: $root.cancel"><i class="icon-undo icon-white"></i>Cancel</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
