<!-- Home
  ================================================== -->
<section>
    <div class="page-header">
        <h4>All important details should not be forgotten never</h4>
    </div>

    <div data-bind="foreach: minutes">
        <article>
            <h3>
                <span data-bind="text: subject"></span>
                <span class="pull-right">
                    <strong data-bind="formateDate: date"></strong>
                </span>
            </h3>
            <div class="well">
                <div data-bind="html: notes"></div>
                <hr>
                <div class="row">
                    <div class="span2">
                        <a class="btn btn-small btn-primary" data-bind="click: $root.goToShowFullMinute"><i class="icon-external-link-sign icon-white"></i>Read more...</a>
                    </div>
                    <div class="pull-right">
                        <span class="badge badge-info">
                            <i class="icon-user"></i>
                            <span data-bind="text: totalAttendees"></span>
                            Attendants
                        </span>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
